input[type="radio"]{
    accent-color:green;
  }
  
  .modal-header
  {
      border-bottom: 3px solid green !important;
      background-color:#fafafa;
  }
  
  .form-control-sm:hover {
          border-color: green;
  }