
<div >
          <span class="float-end">
                     <div class="input-group">
                     <input type="search" class="form-control rounded-pill" placeholder="Search..." aria-label="Search" aria-describedby="search-addon" />
                     </div>
                     </span>
            <p>Which Asset would you like to attach this PM to?</p>
          
          </div>
          <div class="try">
          <span class="float-end pe-3 pb-3">
          <a data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"> Collapse All </a> | <a href="#">Deselect All</a> | <a href="#">Select All</a>
          </span>
          </div>
 <div>
          <button class="text-start mx-3 style">
          	<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  				<label class="form-check-label" for="flexCheckDefault"><i class="bi bi-exclamation-triangle-fill"></i>
    				Don't assign to an Asset
  				</label>
          </button>
                              
        <button class="text-start mt-5 mx-3 style" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            <input class="form-check-input check" type="checkbox" value="Cake Donuts Line " id="select_all">
              <div class="rotate"><i class = "bi-bi-caret-right-square"></i></div>
                <label class="form-check-label" for="flexCheckDefault1"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                  Cake Donuts Line                    
                </label>
              <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
        </button> 
              <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample"><input class="form-check-input check" type="checkbox" value=" Depositer" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                  Depositer
                </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
              </button>

              <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample"><input class="form-check-input check" type="checkbox" value="Dough Former" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                  Dough Former
                </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
              </button>

              <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample"><input class="form-check-input check" type="checkbox" value="Dual Fuel Fryer : Cake Donuts Line" id="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckDefault2"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                  Dual Fuel Fryer : Cake Donuts Line
                </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
              </button>

              <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample"><input class="form-check-input check" type="checkbox" value="Frying Oil Filtration: Cake Donuts Line" id="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                  Frying Oil Filtration: Cake Donuts Line
                </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
              </button>

               
              <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample"><input class="form-check-input check" type="checkbox" value="Sugaring Machine" id="flexCheckDefault4">
                <label class="form-check-label" for="flexCheckDefault4"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                  Sugaring Machine
                </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
              </button>
          
      </div>  
          
    
     <div>     
      <button class="text-start mt-1 mx-3" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
      	<input class="form-check-input check" type="checkbox" value="Yeast Raised Line" id="flexCheckDefault5">
  			<label class="form-check-label" for="flexCheckDefault5"><i class="fa-fw fa-solid fa-cube mr-0"></i>
    			Yeast Raised Line
  			</label>
            <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>

            <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample1">
              <input class="form-check-input" type="checkbox" value="Cross Roller/Sheeter" id="flexCheckDefault6">
              <label class="form-check-label" for="flexCheckDefault6"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                Cross Roller/Sheeter
              </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
            </button>

            <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample1">
              <input class="form-check-input" type="checkbox" value="Cutting Station" id="flexCheckDefault7">
              <label class="form-check-label" for="flexCheckDefault7"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                Cutting Station
              </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
            </button>

            <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample1">
              <input class="form-check-input" type="checkbox" value="Dough Former" id="flexCheckDefault8">
              <label class="form-check-label" for="flexCheckDefault8"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                Dough Former
              </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
            </button>

            <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample1">
              <input class="form-check-input" type="checkbox" value="Dual Fuel Fryer: Yeast Raised Line" id="flexCheckDefault9">
                <label class="form-check-label" for="flexCheckDefault9"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                Dual Fuel Fryer: Yeast Raised Line
              </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
            </button>

            <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample1">
              <input class="form-check-input" type="checkbox" value="Flour Duster" id="flexCheckDefault10">
                <label class="form-check-label" for="flexCheckDefault10"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                    Flour Duster
              </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
            </button>

            <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample1">
              <input class="form-check-input" type="checkbox" value="Frying Oil Filtration" id="flexCheckDefault11">
                <label class="form-check-label" for="flexCheckDefault11"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                Frying Oil Filtration
              </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
            </button>

            <button class="text-start mt-1 ms-5 me-3 collapse" id="collapseExample1">
              <input class="form-check-input" type="checkbox" value="Glazer" id="flexCheckDefault12">
               <label class="form-check-label" for="flexCheckDefault12"><i class="fa-fw fa-solid fa-cube mr-0"></i>
                Glazer
              </label>
                  <span class="float-end me-1"><i class="bi bi-question-circle-fill"></i></span>
            </button>

      </button>
      </div>